
.burger-icon {
    margin-right: 1rem;
    display: none;
    cursor: pointer;
    height: 19px;
}
.burger-logo{
    display: block;
    align-items: center;
    margin: 1rem;
}


/* Применяем стили только на экранах шире 780px */
@media (max-width: 780px) {
    .burger-icon{
        display: block;
        z-index: 11;
    }
    .burger-logo{
        display: flex;
        pointer-events: none;
    }
}
