.main-list-container {
    position: relative;
    top: 0;
    z-index: 100;
}
.main-list.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add any additional styles you want for the sticky menu */
}

.main-list {
    transition: top 0.3s ease-out;


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #E9E9E9;
    border-top: 1px solid #E9E9E9;
    background-color: #fff;
}
.main-list_last-child {
    cursor: pointer;
    font-weight: 500;
    padding: 0.5rem 2rem 0.5rem 0;
}
.main-list_last-child:hover {
    color: #969696;
}
.x-icon {
    width: 85%;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: -100%;
    z-index: 11;
    padding:0 1rem;
}

.x-icon.show {
    left: 0; /* Ending position inside the screen */
    transition:left 1s ;
}
.menu-icon {
    pointer-events: none;
}
.menu-icon.hide {
    display: none;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Цвет размытия (черный с прозрачностью) */
    backdrop-filter: blur(5px); /* Применение размытия */
    z-index: 1; /* Убедимся, что элемент будет поверх остального контента */
}

@media (max-width: 780px) {
    .main-list {
        padding: 4rem 1rem 0 1rem;
        flex-direction: column;
        justify-content: flex-start;
        top: 0;
        left:-100%;
        position: fixed;
        z-index: 10;
        align-items: flex-start;
        height: 100%;
        min-width: 85%;
        border-right: 1px solid #E9E9E9;

    }
    .active{
        left: 0;
        transition:left 1s ;
    }
    .sub-list  {
        display: flex;
        flex-direction: column;
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
    }
    .sub-list ul {
       position: static;
    }
    .menu-icon {
        pointer-events: auto;
    }
}