/* Test.css */

nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 18px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin: 0 15px;
    cursor: pointer;
}

/* Стили для мобильного меню */
.burger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    padding: 5px;
}



.mobile-menu {
    display: flex;
    flex-direction: column;
    background-color: #444;
    position: absolute;
    top: 50px;
    right: 10px;
    padding: 10px;
    z-index: 1;
}

.mobile-menu li {
    margin: 5px;
}

/* Стили для крестика закрытия */
.close-icon {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
}
